/* ESTILOS GENERALES DE LA PÁGINA */
body{
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #FAFAF7;
}

/* HEADER PRINCIPAL */
.contenedorHeaderIndex{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    padding-bottom: 30px;
}

/* TÍTULO PRINCIPAL */
.tituloPrincipal{
    color: #0F766E;
    font-size: 28px;
    margin: 0;
}

/* LOGO */
.logo{
    width: 90px;
    height: auto;
    margin-right: 10px;
}

/* CONTENEDOR DEL FORMULARIO */
.contenedor{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

/* TARJETA DEL LOGIN */
.tarjeta{
    background-color: #F0F4F3;
    padding: 40px;
    width: 250px;
    text-align: center;
    border-radius: 10px;
}

/* SUBTÍTULO */
.tituloIniciarSesion{
    color: #0F766E;
    margin-top: 5px;
    margin-bottom: 30px;
}

/* CAMPOS DEL FORMULARIO */
.campo{
    margin-bottom: 20px;
}

/* INPUTS DENTRO DE CAMPO */
.campo input{
    width: 100%;
    padding: 10px;
    border: none;
    outline: none;
}

/* BOTONES GENERALES */
button{
    background-color: #0F766E;
    color: #ffffff;
    border: none;
    padding: 12px;
    width: 100%;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 20px;
}

/* EFECTO AL PASAR EL MOUSE */
button:hover{
    background-color: #115E59;
}

/* ENLACES GENERALES */
a{
    text-decoration: none;
    color: #0F766E;
}

/* ENLACE DE REGISTRO */
.registrarse{
    text-align: center;
    font-size: 15px;
    margin-top: 10px;
}

/* ERROR */
.input-error{
    border: 2px solid red;
    background-color: #ffe5e5;
}