/* HEADER PRINCIPAL */
.contenedorHeaderIndex{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    padding-bottom: 30px;
}

/* CONTENEDOR DEL FORMULARIO */
.contenedor{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh; /* Ocupación de la pantalla */
}

/* TARJETA DEL LOGIN */
.tarjeta{
    background-color: #F0F4F3;
    padding: 40px;
    width: 250px;
    text-align: center;
    border-radius: 10px;
}

/* SUBTÍTULO */
.tituloIniciarSesion{
    color: #0F766E;
    margin-top: 5px;
    margin-bottom: 30px;
}

/* CAMPOS DEL FORMULARIO */
.campo{
    margin-bottom: 20px;
}

/* ENLACE DE REGISTRO */
.registrarse{
    text-align: center;
    font-size: 15px;
    margin-top: 10px;
}